<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tyrone.security.dao.blogUserMapper">
	<resultMap id="BaseResultMap" type="cn.tyrone.security.bean.blogUser">
		<id column="user_Name" property="userName" jdbcType="CHAR" />
		<result column="user_Password" property="userPassword"
			jdbcType="CHAR" />
		<result column="user_emial" property="userEmial" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		user_Name, user_Password, user_emial
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from blog_user
		where user_Name = #{userName,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from blog_user
		where user_Name = #{userName,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="cn.tyrone.security.bean.blogUser">
		insert into blog_user (user_Name, user_Password, user_emial
		)
		values (#{userName,jdbcType=CHAR}, #{userPassword,jdbcType=CHAR},
		#{userEmial,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.tyrone.security.bean.blogUser">
		insert into blog_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				user_Name,
			</if>
			<if test="userPassword != null">
				user_Password,
			</if>
			<if test="userEmial != null">
				user_emial,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				#{userName,jdbcType=CHAR},
			</if>
			<if test="userPassword != null">
				#{userPassword,jdbcType=CHAR},
			</if>
			<if test="userEmial != null">
				#{userEmial,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.tyrone.security.bean.blogUser">
		update blog_user
		<set>
			<if test="userPassword != null">
				user_Password = #{userPassword,jdbcType=CHAR},
			</if>
			<if test="userEmial != null">
				user_emial = #{userEmial,jdbcType=VARCHAR},
			</if>
		</set>
		where user_Name = #{userName,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.tyrone.security.bean.blogUser">
		update blog_user
		set user_Password = #{userPassword,jdbcType=CHAR},
		user_emial = #{userEmial,jdbcType=VARCHAR}
		where user_Name = #{userName,jdbcType=CHAR}
	</update>
</mapper>